.info{
    padding: 0px 10px 10px 10px;
}
.table-wrapper {
    border: 1px solid #383838;
    overflow-x: auto;
    max-width: min-content;
    display: flex;
    margin: 5px;
    border-radius: 7px;
}
.vertical{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: white;
    border: 1px solid #000000;
    text-align: center;
    border-left: none;
    line-height: 22px;
    font-size: 15px;
}

table {
    width:min-content;
    border-collapse: collapse;
}

td {
    background-color: #000000;
    border-left: 1px solid #383838;
    text-align: center;
    padding: 5px;
    min-width: 130px;
}

table tr td img {
    height: 130px;
    border-radius: 5px;
    transition: filter 0.3s, scale 0.3s;
}

td img:hover{
    filter: brightness(0.7);
}