.info{
    padding: 0px 10px 10px 10px;
}
.table-wrapper {
    overflow-x: auto;
    max-width: min-content;
    display: flex;
    padding: 5px;
    margin: 5px;
    background-color: #161616;
    border-radius: 10px;
}
.vertical{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: white;
    background-color: #161616;
    text-align: center;
    border-left: none;
    line-height: 22px;
    font-size: 15px;
}

table {
    width:min-content;
    border-collapse: collapse;
}

td {
    background-color: rgb(10, 10, 10);
    border: 2px solid #161616;
    text-align: center;
    padding: 5px;
    min-width: 130px;
}

table tr td img {
    height: 130px;
    border-radius: 5px;
}

td img:hover{
    filter: brightness(0.7);
}