.container{
    padding: 10px;
    height: 80vh;
}
.scanner {
  margin-top: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  overflow: hidden;
  width: 80vw;
  max-width: 320px;
  aspect-ratio: 1/1;
  margin-inline: auto;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}