.restricted {
    display: none;
}

.protected{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

form, #loginForm, #templateForm {
    position: relative;
    top: calc(0px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    max-width: 400px;
    margin-bottom: 70px;
}
/*Used in redirector.html*/
.url {
    text-decoration: none;
    color: #00d9ff;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}

#url {
    color: rgb(255, 174, 0);
}

#error {
    color: rgb(250, 53, 53);
    font-size: small;
    opacity: 0;
    transition: opacity 0.2s ease;
    margin-bottom: 0px;
}

#gradientCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    /* So it doesn't block other interactions */
    z-index: 99;
    /* Always on top */
}
#chart {
    display: block;
    width: 90%;
    max-width: 700px;
    margin: 10px auto;
    background-color: rgba(29, 29, 29, 0.301);
    border: 1px solid rgb(50, 50, 50);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 15px;
}
#treasury {
    text-align: center;
}

.card {
    position: absolute;
    z-index: 110;
    transition-duration: 0.3s;
    margin-left: -50vw;
    top:50vh;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to bottom right, rgba(14, 14, 14, 0.8), rgba(60, 60, 60, 0.8), rgba(14, 14, 14, 0.8));
    width: calc(100vw - 55px);
    max-width: 320px;
    aspect-ratio: 1.586;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 7px;
    backdrop-filter: blur(10px);
    padding: 15px;
    display: flex;
    font-size: small;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.qr {
    height: 100%;
    border-radius: 2px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    text-align: left;
}

.info hr {
    width: 100%;
    border: 1px solid rgb(50, 50, 50);
    margin: 5px 0;
}
.logo {
    height: 40px;
}
.info code{
    font-size: smaller;
}

#done{
    display: none;
    position: absolute;
    bottom: 27px;
    z-index: 110;
    left: 50%;
    transform: translateX(-50%);
}