.restricted {
    display: none;
}

.protected{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100vw - 20px);
    padding: 0 10px;
}

form, #loginForm, #templateForm {
    position: relative;
    top: calc(0px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    max-width: 400px;
    margin-bottom: 70px;
}
/*Used in redirector.html*/
.url {
    text-decoration: none;
    color: #00d9ff;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}

#url {
    color: rgb(255, 174, 0);
}

#error {
    color: rgb(250, 53, 53);
    font-size: small;
    opacity: 0;
    transition: opacity 0.2s ease;
    margin-bottom: 0px;
}

#gradientCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    /* So it doesn't block other interactions */
    z-index: 99;
    /* Always on top */
}
#treasury {
    text-align: center;
}