@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet');

* {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 70px;
}

html {
  filter: invert(0);
  scroll-padding: 65px;
}

html.light {
  filter: invert(1) brightness(0.9);
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(227, 227, 227);
  overflow-x: hidden;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 300;
  font-style: normal;
}

button {
  background-color: transparent;
  border: 1px solid transparent;
  border: 1px solid rgb(50, 50, 50);
  color: rgb(227, 227, 227);
  border-radius: 7px;
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
  min-width: max-content;
  transition-duration: 0.2s;
}

.button-loading {
  border: 1px solid #facc15;
  /* yellow-400 */
  color: #facc15;
  pointer-events: none;
}

.button-success {
  border: 1px solid #22c55e;
  /* green-500 */
  color: #22c55e;
}

button,
a,
details,
span,
img {
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  padding: 10px 0;
}

.icon-small {
  height: 17px;
  margin-left: 3px;
  filter: brightness(0) invert(0.7);
  margin-right: 12px;
  padding-top: 3px;
  margin-bottom: -3px;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.malang {
  text-decoration: none;
  color: white;
}

#malang {
  flex-direction: column;
  cursor: pointer;
}

#malang p {
  font-size: 6px;
  margin-left: 50px;
  margin-top: -15px;
}

section.active {
  filter: blur(5px) brightness(0.2);
  transition: filter 0.3s ease;
}

header img {
  height: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 7px 7px 0px;
  width: calc(100% - 7px);
  border-bottom: 1px solid rgb(50, 50, 50);
  position: fixed;
  top: 0;
  z-index: 200;
  background-color: rgb(0, 0, 0);
}

#headerButtons {
  display: flex;
}

#headerButtons button {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 200;
  width: 30px;
  height: 30px;
  margin: 0 3px;
}

#headerButtons button img {
  width: 15px;
  height: 15px;
  filter: brightness(0) invert(0.7);
  margin-top: 3px;
}

#keyCode {
  display: none;
}

.burger {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(50, 50, 50);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 7px 0;
  box-sizing: border-box;
}

#headerButtons button:hover {
  background-color: rgba(80, 80, 80, 0.223);
}

.burger span {
  width: 50%;
  height: 1px;
  background-color: rgb(166, 166, 166);
}

#burger {
  border: none;
}

.loading span {
  display: none;
}

.loading {
  filter: brightness(0) invert(0.4);
  background-image: url(/resrc/images/icons/loading.gif);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.profile-pic {
  border-radius: 6px;
  margin: 0 !important;
  height: 100% !important;
  width: 100% !important;
  filter: none !important;
}

nav {
  gap: 10px;
  position: fixed;
  top: 60px;
  width: 100vw;
  height: calc(100% - 60px);
  padding: 2px 0 120px;
  background: #000000;
  box-sizing: border-box;
  z-index: 210;
  overflow-y: scroll;
  font-weight: 400;
  scrollbar-width: none;
  visibility: hidden;
  opacity: 0;
  filter: blur(5px);
  transition: opacity 0.3s ease, visibility 0.3s ease, filter 0.3s ease;
}

nav.active {
  filter: none;
  opacity: 1;
  visibility: visible;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  list-style: none;
  max-width: 500px;
  margin: auto;
}

nav ul li,
details ul li {
  transition: background-color 0.3s ease;
  color: #e3e3e3;
}

nav ul button,
nav ul a,
summary {
  font-size: 15px;
  width: calc(100% - 40px);
  border: none;
  text-align: left;
  display: block;
  padding: 10px;
  margin: 0 10px;
  color: #c8c8c8;
  text-decoration: none;
  border-radius: 7px;
  position: relative;
}

nav ul button {
  width: calc(100% - 20px);
}

nav hr {
  width: calc(100% - 20px);
  max-width: 500px;
}

nav a:hover,
button:hover,
summary:hover {
  background-color: rgb(20, 20, 20);
  color: white;
}

summary {
  cursor: pointer;
  position: relative;
  height: 20px;
  line-height: 20px;
  appearance: none;
  min-height: max-content;
  list-style: none;
}

summary::marker {
  content: "";
}

summary::before {
  width: 16px;
  height: 16px;
  content: "";
  background-image: url("/resrc/images/icons/down.webp");
  background-size: contain;
  position: absolute;
  top: 12px;
  right: 15px;
  filter: brightness(0) invert(1);
  transform-origin: center;
}

details[open]>summary::before {
  transform: rotate(180deg);
}

details ul li {
  margin-left: 30px;
  border-bottom: none;
  border-left: 3px solid rgb(20, 20, 20);
}

#info {
  position: absolute;
  right: 10px;
  border-radius: 20px;
  padding: 2px 5px;
  font-size: 12px;
  float: right;
}

#info.g {
  color: rgb(85, 255, 0);
  border: 1px solid rgba(0, 198, 13, 0.456);
  background-color: rgba(38, 120, 0, 0.159);
}

#info.y {
  color: rgb(255, 217, 0);
  border: 1px solid rgba(198, 171, 0, 0.456);
  background-color: rgba(120, 88, 0, 0.159);
}

#info.r {
  color: rgb(255, 49, 49);
  border: 1px solid rgba(185, 0, 0, 0.905);
  background-color: rgba(120, 0, 0, 0.159);
}

#nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 30px);
  background-color: #151515;
  max-width: 460px;
  margin: auto;
  margin-top: 20px;
  gap: 5px;
  border-radius: 9px;
  padding: 7px;
  height: min-content;
}

#nav-buttons button {
  border: none;
  padding: 4px 5px 1px 5px;
}

#nav-buttons button:hover {
  background-color: rgb(40, 40, 40);
}

#nav-buttons img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(0.7);
}

.util-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nav-bottom {
  position: fixed;
  bottom: 0;
  width: calc(100% - 20px);
  padding: 0 10px 20px;
  background: #000;
  border-top: 1px solid rgb(50, 50, 50);
  font-size: 12px;
  text-align: center;
}

.nav-bottom p {
  margin-top: 10px;
}

form,
#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 60px);
  max-width: 700px;
  text-align: center;
  box-shadow: 0 0 10px black;
  border: 1px solid #3e3e3e;
  backdrop-filter: blur(50px);
  padding: 20px;
  border-radius: 7px;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #4a4a4a;
  border-radius: 7px;
  background-color: #1a1a1aa1;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
}

select {
  width: 100%;
  color: #797979;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="url"] {
  margin-bottom: 10px;
}

textarea {
  resize: vertical;
  min-height: 70px;
  margin-bottom: 10px;
}

#submit {
  background-color: #1a1a1aa1;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

form h3 {
  margin-bottom: 20px;
  font-weight: 600;
}

hr {
  width: 100%;
  margin: 10px auto;
  border: none;
  border-top: 3px solid rgb(20, 20, 20);
  background-color: none;
}

.long-btn {
  position: relative;
  display: block;
  margin: 10px auto;
  padding: 0.5rem;
  width: 90%;
  max-width: 400px;
  font-size: 1rem;
  text-decoration: none;
  background-color: #11111181;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid rgb(50, 50, 50);
  border-radius: 7px;
}

.long-btn:hover {
  background-color: #0f0f0f;
}

.footer {
  background-color: #151515;
  color: #c9d1d9;
  width: calc(100vw - 50px);
  margin-bottom: -40px;
  padding: 40px 25px;
  position: relative;
  z-index: 20;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
}

.footer-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-brand img {
  height: 50px;
  margin-left: -10px;
}

.newsletter h3 {
  color: #fff;
  margin-bottom: 8px;
}

.newsletter p {
  font-size: 14px;
  margin-bottom: 10px;
  max-width: 400px;
}

.newsletter input {
  width: 100%;
  border-radius: 7px;
  padding: 12px;
  padding-right: 110px;
}

#newsletterInput {
  display: flex;
  position: relative;
}

#newsletterInput button {
  position: absolute;
  border-radius: 4px;
  top: -1px;
  right: 5px;
  background-color: #151515;
}

#failure {
  color: #ff3131;
  font-size: 14px;
  margin-top: 2px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.newsletter button {
  margin-top: 5px;
  padding: 8px 20px;
  transition: background-color 0.2s;
  border-radius: 50px;
  line-height: 17px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
  width: 70%;
}

.footer-column h4 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 5px;
}

.footer-column a {
  color: #c9d1d9;
  text-decoration: none;
  font-size: 14px;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-bottom {
  width: calc(100vw - 40px);
  margin-left: -25px;
  margin-bottom: -40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  background-color: #202020;
  flex-wrap: wrap;
  gap: 5px;
}

.legal-links {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 5px;
  line-height: 5px;
}

.footer-bottom a {
  color: #c9d1d9;
  text-decoration: none;
}

.legal-links a:hover {
  text-decoration: underline;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#icons-footer {
  justify-content: left;
  gap: 20px;
}

.social-icons a {
  color: #c7c7c7;
  text-decoration: none;
}

.social-icons a:hover {
  color: #fff;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 7px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
}

.styled-table th,
.styled-table td {
  padding: 5px;
  border: 1px solid #383838;
  text-align: left;
  white-space: nowrap;
}

.styled-table th {
  background: #1b1b1b;
}

.styled-table tr:nth-child(even) {
  background: #0f0f0f;
}

.styled-table tr:hover {
  background: rgb(25, 21, 0);
  color: rgb(255, 214, 0);
}

.modal {
  display: none;
  position: fixed;
  z-index: 120;
  inset: 0;
  top: 20px;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
}

.modal-content {
  position: relative;
  background: rgb(0, 0, 0);
  border: 1px solid rgb(50, 50, 50);
  border-radius: 10px;
  padding: 10px;
  padding-top: 50px;

  width: fit-content;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 130px);

  box-sizing: border-box;
  overflow: hidden;
  /* no scroll */
  display: flex;
  flex-direction: column;
  /* stack image + caption */
}

#modal-image {
  display: block;
  border-radius: 7px;
  max-width: 100%;
  max-height: calc(100vh - 320px);
  /* reduce to leave room for caption */
  margin: 0 auto;
  flex-shrink: 1;
  /* allow image to shrink */
}

#modal-caption {
  margin-top: 10px;
  flex-shrink: 0;
  /* caption should always remain visible */
}

#modal-socials {
  flex-shrink: 0;
  /* caption should always remain visible */
  justify-content: flex-start;
  gap: 20px;
}

section.modal-active {
  filter: blur(5px) brightness(0.2);
  transition: filter 0.3s ease;
}

.modal-close {
  position: absolute;
  z-index: 130;
  top: 0px;
  right: 0px;
  width: 100%;
  color: rgb(197, 197, 197);
  font-size: 35px;
  cursor: pointer;
  user-select: none;
  text-align: right;

  border-bottom: 1px solid rgb(50, 50, 50);
  padding: 0 10px 4px 10px;
  line-height: 1;
  background: rgba(0, 0, 0, 0.6);
}

@media (min-width: 500px) {
  .modal {
    padding: 40px 10px;
  }
}

/* Responsive */
@media (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(80vw - 0px);
    padding: 20px 10vw;
  }

  .footer-links {
    gap: 0px;
    margin-left: 100px;
  }
}

@media (min-width: 1200px) {
  nav {
    top: 7px;
    background-color: transparent;
    left: 150px;
    width: fit-content;
    height: 53px;
    padding: 0px;
    visibility: visible;
    opacity: 1;
    filter: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    overflow: visible;
  }

  #keyCode {
    display: block;
    border: 1px solid #383838;
    padding: 3px 6px;
    border-radius: 5px;
  }

  #headerButtons button#searchToggle {
    width: calc(100vw - 1143px);
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
  }

  nav ul {
    max-width: 100%;
    grid-template-columns: none;
    width: fit-content;
    margin: 0;
    margin-top: 3px;
    display: flex;
  }


  nav ul button,
  nav ul a,
  summary {
    width: fit-content;
    margin: 0px;
    padding: 7px 15px;
  }

  nav summary {
    padding-right: 30px;
  }

  nav hr {
    display: none;
  }

  /* Dropdown menu (hidden by default but renderable for animation) */
  nav details>*:not(summary) {
    /*opacity: 0;
    visibility: hidden;*/
    position: absolute;
    top: 55px;
    background: #000000;
    border: 1px solid rgb(50, 50, 50);
    padding: 10px 0;
    z-index: 300;
    border-radius: 5px;
  }

  nav details:hover>*:not(summary) {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  /* Make dropdown appear as soon as summary is hovered */
  nav summary:hover~* {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  nav details ul {
    display: flex;
    flex-direction: column;
    gap: 0px;
    min-width: 150px;
  }

  nav details ul li {
    margin: 0px;
    border: none;
  }

  /* Arrow setup */
  nav summary {
    position: relative;
    cursor: pointer;
  }

  /* Remove default marker */
  nav summary::-webkit-details-marker {
    display: none;
  }

  /* Add custom arrow */
  nav summary::before {
    right: 10px;
    top: 10px;
  }

  /* Flip arrow on hover */
  nav details:hover>summary::before {
    transform: rotate(180deg);
  }

  nav ul button #info {
    position: relative;
    margin-left: 20px;
  }

  #nav-buttons {
    padding-right: 0;
    width: max-content;
    margin: 0px;
    background-color: black;
  }

  #nav-buttons button {
    margin: 0;
    padding: 5px 6px 2px 6px;
    border: 1px solid rgb(50, 50, 50);
  }

  #nav-buttons button img {
    width: 17px;
    height: 17px;
  }

  #nav-buttons p {
    display: none;
  }

  .nav-bottom {
    display: none;
  }

  nav .icon-small {
    display: none;
  }

  #burger {
    display: none;
  }
}