.carousel {
    perspective: 1200px;
    width: 100%;
    height: calc(100vh - 130px);
    min-height: 400px;
    position: relative;
    background:
        /* vignette to keep top + edges dark */
        radial-gradient(
            circle at center,
            rgba(0, 0, 0, 0) 70%,
            rgba(0, 0, 0, 0.9) 100%
        ),
        /* fade out top */
        linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 40%),
        /* angled color beams */
        linear-gradient(20deg, black 30%, rgba(0, 128, 128, 0.25) 60%, black 90%),
        linear-gradient(-20deg, black 30%, rgba(216,173,0,0.25) 60%, black 90%),
        /* base */
        black;
    background-blend-mode: normal, multiply, screen, screen, normal;
}

.carousel-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    user-select: none;
    /* Standard */
    -webkit-user-select: none;
    /* Chrome, Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item {
    position: absolute;
    width: 220px;
    height: max-content;
    background: rgba(0, 0, 0, 0.168);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    backface-visibility: hidden;
}

.carousel-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    pointer-events: none;
    backface-visibility: hidden; /* hides content on the back side */
    transform-style: preserve-3d; /* ensures children maintain 3D space */
}