.carousel {
    perspective: 1200px;
    width: 100%;
    height: calc(100vh - 130px);
    min-height: 400px;
    position: relative;
    background: linear-gradient(to top,#151515 0%, rgba(132, 92, 0, 0.11) 20%, transparent 60%),
    radial-gradient(circle at center, rgba(255, 255, 255, 0.05), transparent 70%);
    background-blend-mode: normal, multiply, screen, screen, normal;
}

.carousel-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    user-select: none;
    /* Standard */
    -webkit-user-select: none;
    /* Chrome, Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item {
    position: absolute;
    width: 220px;
    height: max-content;
    background: rgba(0, 0, 0, 0.168);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    backface-visibility: hidden;
}

.carousel-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    pointer-events: none;
    backface-visibility: hidden;
    /* hides content on the back side */
    transform-style: preserve-3d;
    /* ensures children maintain 3D space */
}


#dots {
    width: 100vw;
    height: calc(70vh - 10vw);
    position: absolute;
}

.star {
    border-radius: 100%;
    background-color: white;
    position: absolute;
    animation: moveit;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    opacity: 0;
    transition: opacity 0.3s;
}

@keyframes moveit {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.2;
    }
}