@font-face {
    font-family: 'Samarkan';
    src: url('FontsFree-Net-SAMAN___.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#rangotsav {
    font-family: 'Samarkan Normal V1';
    font-size: 2.7rem;
    background: linear-gradient(to right, rgb(255, 204, 0), rgb(255, 0, 128));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#fe {
    font-family: 'Samarkan Normal V1';
    font-size: 2.7rem;
    background: linear-gradient(to right, rgb(216, 5, 216), rgb(255, 103, 250),rgb(106, 0, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.glass {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
}

.glass h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.timer {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.timer div {
    background: rgba(255, 255, 255, 0.06);
    padding: 10px 0px;
    border: 1px dotted var(--border-color);
    margin-left: -1px;
}

.timer span {
    font-size: 2.2rem;
    font-weight: 400;
}

.timer p {
    margin-top: 6px;
    font-size: 0.8rem;
    opacity: 0.7;
    letter-spacing: 1px;
}


.malang {
    margin: 15px;
    width: 70px;
    opacity: 0.8;
}

a {
    font-size: 12px;
    color: #b0b0b0;
    text-decoration: underline;
}


@media (max-width: 600px) {
    .timer {
        grid-template-columns: repeat(2, 1fr);
    }
}


#dots {
    width: 100vw;
    height: calc(100vh - 5px);
    position: absolute;
    z-index: -1;
}

.star {
    border-radius: 100%;
    background-color: white;
    position: absolute;
    animation: moveit;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    opacity: 0;
    transition: opacity 0.3s;
}

@keyframes moveit {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.2;
    }
}