#calendar-container {
    position: relative;
    width: calc(100% - 20px);
    max-width: 1000px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    margin: auto;
}

#loaderWave {
    position: absolute;
    inset: 0;
    background: linear-gradient(110deg,
            var(--background-color) 30%,
            #2a2a2a 40%,
            var(--background-color) 50%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 7px;
    z-index: 20;
}


@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}


#title {
    padding: 5px;
    width: calc(100% - 10px);
}

#calendar {
    width: 100%;
    height: 50vh;
    border: none;
    opacity: 0.9;
    backdrop-filter: blur(5px);
    filter: invert(1) saturate(0);
}

h1 {
    margin: 15px auto 0;
    width: calc(100% - 20px);
    max-width: 1000px;
}

.events-list {
    width: calc(100vw - 20px);
    max-width: 1000px;
    column-count: 1;
    column-gap: 10px;
    margin: auto;
    margin-bottom: 30px;
}

.event {
    break-inside: avoid;
    border-radius: 7px;
    border: 1px solid  var(--border-color);
    padding: 10px;
    margin-bottom: 10px;
    width: fit-content;
}

.event-name {
    font-weight: bold;
    background-image: linear-gradient(10deg, var(--background-color), var(--background-color), #a2770a);
    padding: 10px;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 7px 7px 0 0;
    width: 100%;
}


.event-image {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 7px;
}

.event-info {
    display: flex;
    justify-content: space-between;
    font-size: small;
    margin-bottom: 10px;
    margin-top: -7px;
}

.event-buttons {
    display: flex;
    justify-content: space-around;
}

.event-buttons button {
    margin: 5px;
}

.focus {
    filter: invert(1);
}

@media (min-width: 530px) {
    .events-list {
        column-count: 2;
        column-gap: 10px;
    }
}

@media (min-width: 800px) {
    .events-list {
        column-count: 3;
        column-gap: 10px;
    }
}