body {
    -webkit-user-select: none;  /* Safari/Chrome */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE/Edge */
    user-select: none;          /* Standard */
}
.gallery {
    column-count: 4;
    column-gap: 10px;
    padding: 10px;
}

.gallery-item {
    break-inside: avoid;
    margin-bottom: 10px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: none;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}

.gallery-item img:hover {
    transform: scale(1.05);
    filter: brightness(0.7);
}

#filtersContainer {
    width: calc(100vw - 30px);
    margin: 0 auto;
    padding: 2px;
    border-radius: 7px;
    background-color: rgb(17, 17, 17);
    position: relative;
}

#copyFiltersBtn{
    background-color: rgb(17, 17, 17);
    padding:  7px 5px;
    position: absolute;
    border: none;
    cursor: pointer;
    right: 0px;
    top: 5px;
}

.filters {
    padding-right: 5px;
    margin: 5px;
    margin-left: 75px;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    border-radius: 7px;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer and Edge */
    z-index: 110;
}
#filters-category{
    padding-right: 40px;
}
.filters button {
    margin: 0 2px;
    padding: 5px 10px 5px 10px;
    border:none;
    background-color: rgb(33, 33, 33);
}
.filters button:hover {
    background-color: white;
    color: black;
}

.selected {
    background-color: white !important;
    color: black;
}
.filters p {
    left: 10px;
    padding-top: 5px;
    position: absolute;
    font-weight: 400;
    font-size: 14px;
}
#none{
    width: calc(100vw - 30px);
    margin: 0 auto;
    height: 50vh;
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}
@media (min-width: 1200px) {
    .gallery {
        column-count: 5;
    }
}

@media (max-width: 900px) {
    .gallery {
        column-count: 4;
        column-gap: 14px;
    }
}

@media (max-width: 768px) {
    .gallery {
        column-count: 3;
        column-gap: 10px;
    }
}

@media (max-width: 480px) {
    .gallery {
        column-count: 2;
    }
}