body {
    -webkit-user-select: none;  /* Safari/Chrome */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE/Edge */
    user-select: none;          /* Standard */
}
#heading{
    margin: 10px 10px;
    padding-right: 40px;
}
#gallery{
    display: flex;
    flex-direction: column;
}
.gallery-batch{
    column-count: 4;
    column-gap: 10px;
    padding: 5px 10px;
}

.gallery-item {
    break-inside: avoid;
    margin-bottom: 10px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: none;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}

.gallery-item img:hover {
    transform: scale(1.05);
    filter: brightness(0.7);
}

.filterButtons{
    background-color: transparent;
    border: 1px solid rgb(50, 50, 50);
    cursor: pointer;
    padding:  5px 7px 7px 7px;
}
.filterButtons img{
    margin: 0;
}
#toggleFiltersBtn{
    position: absolute;
    right: 10px;
    top: 75px;
    z-index: 100;
}

#copyFiltersBtn{
    position: sticky;
    left: calc(100% - 70px);
    top: 5px;
}

#filtersContainer {
    position: absolute;
    top: 60px;
    width: calc(100% - 20px);
    height: calc(100vh - 60px);
    overflow-y: scroll;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
    filter: blur(5px);
    transition: opacity 0.3s ease, visibility 0.3s ease, filter 0.3s ease;
    z-index: 90;
}

.filters {
    max-width: 600px;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 7px;
    z-index: 110;
    padding-bottom: 10px;
}
#filters-category{
    margin-top: 10px;
}
.filters button {
    margin: 2px;
    padding: 5px 10px 5px 10px;
    border:none;
    background-color: rgb(33, 33, 33);
}
.filters button:hover {
    background-color: white;
    color: black;
}

.selected {
    background-color: white !important;
    color: black;
}
.filters p {
    width: calc(100% - 20px);
    border-bottom: 2px solid rgb(32, 32, 32);
    padding: 5px;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
}
#none{
    width: calc(100vw - 30px);
    margin: 0 auto;
    height: 50vh;
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}
@media (min-width: 1200px) {
    .gallery-batch{
        column-count: 6;
    }
}

@media (max-width: 900px) {
    .gallery-batch{
        column-count: 4;
        column-gap: 14px;
    }
}

@media (max-width: 768px) {
    .gallery-batch{
        column-count: 3;
        column-gap: 10px;
    }
}

@media (max-width: 480px) {
    .gallery-batch{
        column-count: 2;
    }
}