* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    overflow: hidden;
}

#container {
    margin: 70px 10px 0 10px;
    width: calc(100vw - 20px);
    height: calc(100vh - 80px);
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(50, 50, 50);
}

#blob {
    width: 400px;
    height: 400px;
    background: radial-gradient(circle at 30% 30%, #ba6102, gold);
    border-radius: 60% 40% 50% 70% / 60% 50% 70% 40%;
    transition: border-radius 4s ease-in-out;
    animation: float 8s ease-in-out infinite alternate;
    filter: blur(40px);
}

@keyframes float {
    0% {
        transform: translate(0, 0) scale(1);
    }

    50% {
        transform: translate(20px, -30px) scale(1.05);
    }

    100% {
        transform: translate(-25px, 15px) scale(0.95);
    }
}