#timeline {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}

#featuredEvents {
    width: calc(100vw - 20px);
    margin-left: -10px;
    padding: 10px;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

#featuredEvents::-webkit-scrollbar {
    display: none;
}

.featured {
    padding: 10px;
    min-width: calc(100vw - 42px);
    max-width: 300px !important;
    aspect-ratio: 1/1;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%), url('/resrc/images/misc/FE25-7.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition-duration: 0.3s;
}

#rangotsav {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url('/resrc/images/misc/rangotsav24-5.webp');
}

.featuredTitle {
    color: rgb(230, 230, 230);
    font-size: 1.2em;
    font-weight: 500;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 5px;
}

.featured:hover {
    scale: 1.02;
}

#events {
    margin: 10px 0;
    display: grid;
    border: 1px solid var(--border-color);
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
}

#events>*:nth-child(even) {
  background: #0b0b0b;
}

.event {
    border-bottom: 1px solid  var(--border-color);
    position: relative;
    padding: 10px 7px;
    padding-left: 10px;
    border-left: 1px solid  var(--border-color);
}

.event::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color:  var(--border-color);
    border-radius: 50%;
    top: 15px;
    left: -5px;
}

#upcoming a {
    margin-left: 10px;
    color: gold;
    text-decoration: none;
}

#upcoming::before {
    background-color: gold;
    animation: blink 1s infinite ease-in;
}

@keyframes blink {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: 0 0 10px gold, 0 0 10px gold, 0 0 10px gold
    }

    100% {
        box-shadow: none;
    }
}

.event details {
    border: none;
}

.event details[open]>summary {
    border: none;
}

.event summary {
    padding: 0;
    width: calc(100% - 40px);
}

summary.title {
    padding-right: 10px;
}

summary.title::before {
    top: 5px;
    right: -10px;
}

.date,
.description {
    font-size: 0.9em;
    color: rgb(150, 150, 150);
}

.description {
    margin-top: 5px;
    margin-left: 10px;
}

.image-row {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 8px;
    width: 100%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
}

.image-row img {
    height: 180px;
    border-radius: 7px;
    object-fit: cover;
    flex: 0 0 auto;
    max-width: 100%;
}

.event summary:hover {
    background-color: transparent;
}

#last {
    position: relative;
    height: 20px;
    background: linear-gradient(to bottom, rgb(50, 50, 50), transparent);
    background-size: 1px 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color: transparent !important;
}

@media screen and (min-width: 500px) {
    #timeline {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        padding-bottom: 0;
        padding-top: 50px;
    }

    #featuredContainer {
        width: 40%;
        height: min-content;
    }

    #featuredEvents {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
        width: 100%;
    }

    .featured {
        min-width: calc(100% - 40px);
    }

    #timelineDiv {
        width: 60%;
        height: 100%;
        overflow: scroll;
    }

    .image-row {
        width: auto;
        left: auto;
        right: auto;
        margin: 10px auto;
        padding: 0 0;
    }
    .event{
        padding-left: 15px;
    }
    #upcoming a {
    margin-left: 0px;
    }
}