#timeline {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}

#featuredEvents {
    width: calc(100vw - 20px);
    margin-left: -10px;
    padding: 10px;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

#featuredEvents::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar */
}

.featured {
    padding: 10px;
    min-width: calc(100vw - 42px);
    max-width: 300px !important;
    aspect-ratio: 1/1;
    background-color: #0f0f0f;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 7px;
    cursor: pointer;
}

.featuredTitle {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid rgb(50, 50, 50);
    padding-bottom: 5px;

}

#events {
    margin: 10px;
    display: grid;
}

#events>*:nth-child(even) {
    background-color: #0d0d0d;
}

.event {
    border-bottom: 1px solid rgb(21, 21, 21);
    position: relative;
    padding: 10px 7px;
    padding-left: 15px;
    border-left: 1px solid rgb(50, 50, 50);
}

.event::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(50, 50, 50);
    border-radius: 50%;
    top: 15px;
    left: -5px;
}

#upcoming a {
    color: gold;
    text-decoration: none;
}

#upcoming::before {
    background-color: gold;
    animation: blink 1s infinite ease-in;
}

@keyframes blink {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: 0 0 10px gold, 0 0 10px gold, 0 0 10px gold
    }

    100% {
        box-shadow: none;
    }
}

.event details {
    border: none;
}

.event details[open]>summary {
    border: none;
}

.event summary {
    padding: 0;
}

summary.title {
    padding-right: 10px;
}

summary.title::before {
    top: 5px;
    right: -15px;
}

.date,
.description {
    font-size: 0.9em;
    color: rgb(150, 150, 150);
}

.description {
    margin-top: 5px;
    margin-left: 10px;
}

.image-row {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 8px;
    width: calc(100vw - 90px);
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: calc(-50vw - 5px);
    margin-right: -50vw;
    padding: 10px 45px;
}

.image-row img {
    height: 180px;
    border-radius: 7px;
    object-fit: cover;
    flex: 0 0 auto;
    max-width: 100%;
}

.event summary:hover {
    background-color: transparent;
}

#last {
    position: relative;
    height: 20px;
    /*gradient border left to bottom*/
    background: linear-gradient(to bottom, rgb(50, 50, 50), transparent);
    background-size: 1px 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-bottom: 20px;
    background-color: transparent !important;
}

@media screen and (min-width: 500px) {
    #timeline {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        padding-bottom: 0;
        padding-top: 0;
    }

    #featuredContainer {
        width: 40%;
        height: min-content;
    }

    #featuredEvents {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
        width: 100%;
    }

    .featured {
        min-width: calc(100% - 40px);
    }

    #timelineDiv {
        width: 60%;
        height: 100%;
        overflow: scroll;
    }

    .image-row {
        width: auto;
        left: auto;
        right: auto;
        margin: auto;
        padding: 10px 0;
    }
}