<header>
    <a onclick="loadPage('/src/pages/home.html')" class="malang" id="malang"><img src="/resrc/images/icons/malang.webp"
            alt="Malang">
        <p>Fine Arts & Photography Club</p>
    </a>
    <div id="headerButtons">
        <button onclick="loadPage('/src/pages/account.html')">
            <img src="/resrc/images/icons/user.png" id="profilePic">
        </button>
        <button id="burger" class="loading">
            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
    </div>
</header>
<nav id="nav">
    <div id="nav-buttons">
        <p id="utilities">Utilities</p>
        <div>
            <button id="pwa"><img src="/resrc/images/icons/download.webp" alt=""></button>
            <button id="theme"><img src="/resrc/images/icons/sun.png" alt=""></button>
            <button id="copy"><img src="/resrc/images/icons/link.webp" alt=""></button>
            <button id="searchToggle" class="search-btn" aria-label="Search">
                <img src="/resrc/images/icons/search.png" alt="">
            </button>
        </div>
    </div>
    <ul>
        <hr>
        <li><button onclick="loadPage('/src/pages/home.html')"><img src="/resrc/images/icons/home.webp" alt=""
                    class="icon-small">Home</button>
        </li>
        <li><button onclick="loadPage('/src/pages/aruco.html')"><img src="/resrc/images/icons/aruco.webp" alt=""
                    class="icon-small">M-ArUCo</button></li>
        <hr>
        <details>
            <summary><img src="/resrc/images/icons/events.webp" alt="" class="icon-small">Events</summary>
            <ul>
                <li><button onclick="loadPage('/src/pages/events.html')">Upcoming Events</button></li>
                <li><button onclick="loadPage('/src/pages/timeline.html')">Past Events</button></li>
            </ul>
        </details>
        <li><button onclick="loadPage('/404.html')"><img src="/resrc/images/icons/project.webp" alt=""
                    class="icon-small">Projects</button></li>
        <details>
            <summary><img src="/resrc/images/icons/art.webp" alt="" class="icon-small">Galleries
            </summary>
            <ul>
                <li><button onclick="loadPage('/src/pages/gallery.html')">Art Gallery</button></li>
                <li><button onclick="loadPage('/index.html?page=gallery&mode=photographs')">Photo Gallery</button></li>
            </ul>
        </details>
        <details>
            <summary><img src="/resrc/images/icons/members.webp" alt="" class="icon-small">Our Members
            </summary>
            <ul>
                <li><button onclick="loadPage('/src/pages/core.html')">Core Members</button></li>
                <li><button onclick="loadPage('/src/pages/alumni.html')">Malang Alumni</button></li>
            </ul>
        </details>
        <hr>
        <details>
            <summary><img src="/resrc/images/icons/docs.webp" alt="" class="icon-small">Docs</summary>
            <ul>
                <li><button onclick="loadPage('/src/pages/documentation.html')">Site Docs</button></li>
                <li><button onclick="loadPage('/src/pages/privacy-policy.html')">Privacy Policy</button></li>
            </ul>
        </details>
        <li><button onclick="loadPage('/src/pages/form.html')"><img src="/resrc/images/icons/tools.png" alt=""
                    class="icon-small">Feature Request <span id="live">Open</span></button></li>
    </ul>
    <div class="nav-bottom">
        <div class="social-icons">
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/malangbvp/#"><i
                    class="fab fa-instagram"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/malangbvp/"><i
                    class="fab fa-linkedin"></i></a>
            <a target="_blank" rel="noopener noreferrer"
                href="mailto:malangbvp@gmail.com?subject=Contacting%20via%20Malang%20Website&body=Hi%20Malang%20Team,%0D%0A%0D%0AI%20found%20your%20email%20on%20the%20Malang%20website%20and%20wanted%20to%20get%20in%20touch%20regarding...%0D%0A%0D%0ARegards,%0D%0A[Your%20Name]"><i
                    class="far fa-envelope"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/MalangBvp"><i
                    class="fab fa-github"></i></a>
        </div>
        <p>© <span id="year">YEAR</span> Malang. All rights reserved.</p>
        <!--<p>Built by Tejas with &hearts; for Malang.</p>-->
    </div>
</nav>