<header>
    <a href='/index.html' class="malang" id="malang"><img src="/resrc/images/misc/malang.webp" alt="Malang">
        <p>Fine Arts & Photography Club</p>
    </a>
    <div id="headerButtons">
    <button onclick="window.open('/index.html')">
        <img src="/resrc/images/icons/home.webp">
    </button>
    </div>
</header>
<nav id="nav">
    <ul>
        <li><a href='/home.html'><img src="/resrc/images/icons/home.webp" alt="" class="icon-small">Home</a>
        </li>
        <li><a href='/src/pages/aruco.html'><img src="/resrc/images/icons/aruco.webp" alt=""
                    class="icon-small">M-ArUCo</a></li>
        <hr>
        <details>
            <summary><img src="/resrc/images/icons/events.webp" alt="" class="icon-small">Events</summary>
            <ul>
                <li><a href='/src/pages/events.html'>Upcoming Events</a></li>
                <li><a href='/src/pages/timeline.html'>Past Events</a></li>
            </ul>
        </details>
        <li><a href='/404.html'><img src="/resrc/images/icons/project.webp" alt="" class="icon-small">Projects</a></li>
        <details>
            <summary><img src="/resrc/images/icons/art.webp" alt="" class="icon-small">Galleries
            </summary>
            <ul>
                <li><button onclick="loadPage('/src/pages/gallery.html')">Art Gallery</button></li>
                <li><button onclick="loadPage('/index.html?mode=photographs')">Photo Gallery</button></li>
            </ul>
        </details>
        <details>
            <summary><img src="/resrc/images/icons/members.webp" alt="" class="icon-small">Our Members
            </summary>
            <ul>
                <li><a href='/src/pages/core.html'>Core Members</a></li>
                <li><a href='/src/pages/alumni.html'>Malang Alumni</a></li>
            </ul>
        </details>
        <hr>
        <details>
            <summary><img src="/resrc/images/icons/docs.webp" alt="" class="icon-small">Docs</summary>
            <ul>
                <li><a href='/src/pages/documentation.html'>Site Docs</a></li>
                <li><a href='/src/pages/privacy-policy.html'>Privacy Policy</a></li>
            </ul>
        </details>
        <hr>
    </ul>
    <div id="nav-buttons">
        <p id="utilities">Utilities</p>
        <div>
            <button id="theme"><img src="/resrc/images/icons/sun.webp" alt=""></button>
            <button id="copy"><img src="/resrc/images/icons/link.webp" alt=""></button>
            <button id="pwa"><img src="/resrc/images/icons/download.webp" alt=""></button>
        </div>
    </div>
    <div class="nav-bottom">
        <div class="social-icons">
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/malangbvp/#"><i
                    class="fab fa-instagram"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/malangbvp/"><i
                    class="fab fa-linkedin"></i></a>
            <a target="_blank" rel="noopener noreferrer"
                href="mailto:malangbvp@gmail.com?subject=Contacting%20via%20Malang%20Website&body=Hi%20Malang%20Team,%0D%0A%0D%0AI%20found%20your%20email%20on%20the%20Malang%20website%20and%20wanted%20to%20get%20in%20touch%20regarding...%0D%0A%0D%0ARegards,%0D%0A[Your%20Name]"><i
                    class="far fa-envelope"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/MalangBvp"><i
                    class="fab fa-github"></i></a>
        </div>
        <p>© 2024 - <span id="year">YEAR</span> Malang. All rights reserved.</p>
        <!--<p>Built by Tejas with &hearts; for Malang.</p>-->
    </div>
</nav>
